@import url("./slider.css");

body {background:#fff;padding: 0;margin: 0;font-family: 'Open Sans', sans-serif; font-size: 16px; line-height: 31px;}

body.overflow-none {overflow: hidden;}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: white !important;
    background-image: none !important;
    color: #495057; !important;
    -webkit-box-shadow:0 0 0 30px white inset !important;
}

* {box-sizing: border-box;}

a,  a:active, a:visited {text-decoration: none;}

h1,h2,h3,h4,h5,h6 {font-family: 'Open sans', sans-serif; font-weight: 900;}
h2 {
    font-size: 2.5em;
    margin-top: 0;
}
h2.big {
    font-size: 3em;
    line-height: 100%;
}

figure {
    margin: 0px;
    font-size: 0px;
}

#main {
    padding-top: 115px;
}

.section {
    padding: 80px 0;
}
.section__fullheight {
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.section__centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section__title {
    font-size: 48px;
    line-height: 48px;
    font-weight: 500;
    margin-bottom: 60px;
}
.section__title.section__title--no--margin {
    margin-bottom: 0px; 
}
.section__title.section__title--half--margin {
    margin-bottom: 25px;
}
.section--blue {
    background: #0c7bbf;
}
.section--white--b {
    background: #f1efef;
}
.section__title--green {
    color: #81b522;
}
.section__title--white {
    color: #fff;
}
.section__image {
    text-align: center;
    margin-bottom: 20px;
}
.container {
    width: 90%;
    max-width: 1140px;
    margin: 0 auto;
}
.container.container__95 {
    max-width: 95%;
    width: 95%;
    margin-right: 0;
}
.title__box {
    text-align: center;
}
.title__box.title__box--left {
    text-align: left;
}
.btn {
    display: inline-block;
    background: #0c7bbf;
    color: #fff;
    font-weight: bold;
    font-size: 28px;
    line-height: 29px;
    padding: 4px 25px;
    border-radius: 23px;
    cursor: pointer;
    transition: all .3s ease-in;
}
.btn:hover {
    background: #0fb4ea;
}
.btn__small {
    font-size: 18px;
    line-height: 18px;
    padding: 2px 8px;
    border-radius: 12px;
}
.paragraph__box {
    color: #668c14;
    margin: 0 auto 35px;    
}
.paragraph__box.paragraph__box--last {
    margin: 0px;   
}
/*Initials*/

header {
    position: fixed;
    width: 100%;
    height: 115px;
    background: #Fff;
    left: 0;
    top: 0;
    box-shadow: 1px 1px 10px 4px rgba(0,0,0,0.2);
    z-index: 10;
}
header .header__container {
    width: 95%;
    max-width: 1300px;
    margin: 0 auto;
    display: grid;
    grid-template: 115px / 290px 1fr 290px;
    justify-content: space-between;
    align-items: center;
}
header .header__logo {
    justify-self: start;
}
header .header__logo h1 {
    height: 0;
    opacity: 0;
    overflow: hidden;
    margin: 0;
}
header .header__logo figure {
    display: flex;
    justify-content: center;
    align-items: center;
}
header .header__logo figure img {
    width: auto;
    max-width: 100%;
    height: 100px;
}
header .header__menu {
    width: 100%;
    max-width: 590px;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-self: center;
    justify-content: space-between;
    align-items: center;
}
header .header__menu li {}
header .header__menu li a {
    font-size: 14px;
    line-height: 14px;
    color: #668c14;
    padding: 2px 6px;
    border-radius: 12px;
}
header .header__menu li a:hover {
    color: #fff;
    background: #0c7bbf;
}
header .header__right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
header .header__phone {
    font-size: 20px;
    line-height: 20px;
    color: #668c14;
    margin-bottom: 5px;
}

/*Header*/

.banner__content {
    max-width: 768px;
    margin: 0 auto;
}
.banner__p {
    font-size: 20px;
    line-height: 31px;
    color: #fff;
    margin-top: 0px;
    margin-bottom: 25px;
    text-align: center;
}
.banner__action {
    text-align: center;
}

/*Banner*/

.grid__service {
    display: grid;
    grid-template: 1fr / repeat(3, 1fr);
    grid-gap: 40px;
    margin-bottom: 40px;
}
.grid__service__mini {
    display: grid;
    grid-template: 1fr / repeat(2, 1fr);
    grid-gap: 40px;
    margin-bottom: 65px;
    max-width: calc(100% - calc(calc(calc(100% - 80px) / 3) + 40px));
    margin: 0 auto 60px;
}
.grid__service--featured {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
}
.grid__service--background {
    margin: 0;
    font-size: 0;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid__service--background img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .3s ease-in-out;
}
.grid__service--title {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px 20px;
    background: rgba(102, 140, 20,0.8);
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    color: #fff;
    transition: all .3s ease-in-out;
}
.grid__service--featured:hover .grid__service--title {
    background: rgba(12, 123, 191,0.8);
}
.grid__service--featured:hover .grid__service--background img {
    transform: scale(1.1);
}

.grid_request {
    display: grid;
    grid-template: 1fr / repeat(2, 1fr);
    grid-gap: 40px;
}
.grid_request.grid_request--contact {
    grid-gap: 70px;
}
.grid_request--form {
    background: #fff;
    border-radius: 15px;
    padding: 50px 40px;
}
.grid_request--form.grid_request--form--contact {
    margin-bottom: 40px;
}
.grid_request--form--title {
    color: #0c7bbf;
    font-size: 24px;
    line-height: 23px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;
}

.grid__about {
    display: grid;
    grid-template: 1fr / 1fr 550px;
    grid-gap: 70px;
}
.about__text {
    padding: 80px 0px;
}
.about__image {
    background-image: url(../img/about.jpg);
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
}
/*Grid section*/

.form__estimate {

}
.form__field {
    display: grid;
    grid-template-areas: "label" "input";
    margin-bottom: 25px;    
}
.form__field.form__field--last {
    margin-bottom: 0px;
}
.form__field.form__field--error {
    display: grid;
    grid-template-areas: "label" "input" "message";
}
.form__field--label {
    grid-area: label;
    font-size: 16px;
    line-height: 15px;
    color: #678d2d;
    font-weight: bold;
    margin-bottom: 10px;
}
.form__field--input {
    grid-area: input;
    appearance: none;
    -webkit-appearance: none;
    border: 1px solid transparent;
    background: #E0E0E0;
    padding: 12px 15px;
    font-size: 16px;
    line-height: 15px;
}
.form__field--input:focus {
    outline: none;
}
.form__field--textarea {
    resize: none;
    min-height: 138px;
}
.form__field--select {
    position: relative;
}
.form__field--select--selected {
    width: 100%;
    height: 44px;
    padding: 0 25px;
    background: #e0e0e0;
    position: relative;
    display: flex;
    align-items: center;
}
.form__field--select.form__field--select--active {

}
.form__field--select--text {}
.form__field--chevron {
    height: 100%;
    width: 50px;
    right: 0;
    top: 0;
    position: absolute;
    line-height: 44px;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
    background: #678d2d;
    color: #fff;
    transition: all .3s ease-in-out;
}

.form__field--chevron:hover,
.form__field--select.form__field--select--active .form__field--chevron {
    background: #0c7bbf;
}
.form__field--select.form__field--select--active .form__field--chevron i {
    transform: rotate3d(0,0,1,180deg);
}
.form__field--options {
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    background: #0c7bbf;
    color: #fff;
    opacity: 0;
    height: 0px;
    overflow: hidden;
    padding: 0;
    transform: translateY(-13px) rotate3d(1,0,0, 60deg);    
    box-shadow: 0px 9px 9px 0px rgba(0,0,0,0.4);
    transition: transform .3s ease-out, opacity .2s ease-in;
}
.form__field--select.form__field--select--active .form__field--options {
    transform: translateY(0px) rotate3d(1,0,0, 0deg);
    opacity: 1;
    height: auto;
    padding: 15px 25px;
}
.form__field--options li {
    cursor: pointer;
    transition: all .3s ease-out;
}
.form__field--options li:hover {
    background: rgba(255,255,255,.2);
}
.form__field--options li:active {
    background: rgba(255,255,255,.3);
}
.form__field.form__field--error .form__field--input {
    border-color: red;
    margin-bottom: 5px;
}
.form__field--message {
    display: none;
    grid-area: message;
    font-size: 14px;
    line-height: 13px;
}
.form__field.form__field--error .form__field--message {
    display: block;
    color: red;
}
.form__captcha {
    margin-bottom: 40px;
}
.form__captcha.form__captcha--last {
    margin-bottom: 0px;
}
.form__send {
    display: flex;
    justify-content: center;
    align-items: center;
}
.form__send button {
    -webkit-appearance: none;
    appearance: none;
    background: #fff;
    border: none;
    font-size: 22px;
    line-height: 25px;
    font-weight: bold;
    padding: 16px 30px;
    border-radius: 32px;
    color: #678d2d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0);
    transition: all .3s ease-in-out; 
}
.form__send button:hover {
    transform: translateY(-2px);    
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,.1);
}
.form__send button:active {
    transform: translateY(0px);
}
.form__send button:focus {
    outline: none;
    border: none;
}
.form__send button span {
    line-height: 17px;
}
.form__send button img {
    margin-left: 15px;      
}
/*Form*/
.footer {
    padding: 70px 0px 0px;
}
.footer--figure {
    margin-bottom: 60px;
}
.footer--figure figure {
    max-width: 350px;
    margin: 0 auto;
    font-size: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer--figure figure img {
    max-width: 100%;
}
.footer--menu {
    padding: 0;
    list-style: none;
    max-width: 575px;
    margin: 0 auto 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer--menu li {}
.footer--menu li a {
    color: #668c14;
    transition: all .3s ease-in-out;
    font-size: 15px;
    line-height: 15px;
}
.footer--menu li a:hover {
    color: #0c7bbf;
}
.footer--social {
    padding: 0;
    list-style: none;
    max-width: 130px;
    margin: 0 auto 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer--social li {
    width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 22.5px;
}
.footer--social li a {
    display: block;
    width: 45px;
    height: 45px;
    background: #0c7bbf;
    transition: all .3s ease-in;
}
.footer--social li a:hover {
    background:#0fb4ea;
}
.footer--social li a img {
    max-width: 100%;
}
.footer--pie {
    background: #668c14;
    padding: 45px 0px;
}
.footer--pie p {
    font-size: 18px;
    line-height: 18px;
    margin: 0;
    text-align: center;
    color: #fff;
}
.footer--pie a {
    color: #fff;
}
.footer--pie a:hover {
    color:#0fb4ea;
}
.footer--pie a strong {}

/*
* Footer
*/

#testimonials {
    background: #81b522;
}

#testimonials .testimonial__info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
}
#testimonials .testimonial__avatar {
    width: 150px;
    height: 150px;
    font-size: 0;
    margin-left: 0;
}
#testimonials .testimonial__avatar img {
    max-width: 100%;
}
#testimonials .testimonial__rating {
    width: 145px;
    margin: 0;
    font-size: 0;
}
#testimonials .testimonial__rating img {
    max-width: 100%;
}
#testimonials .testimonial__text {
    max-width: 768px;
    margin: 0 auto;
    text-align: center;
    color: #Fff;
}

/*
* Testimonials
*/
.contact__title {
    display: grid;
    grid-template: 1fr / 70px 1fr;
    align-items: center;
}
.contact__title figure {
    background: #fff;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.contact__title figure img {}
.contact__title--text {
    transform: translateX(-25px);
    display: flex;
    align-items: center;
}
.contact__title--text span {
    font-size: 28px;
    line-height: 28px;
    font-weight: bold;
    color: #81b522;
    background: #fff;
    position: relative;
    padding: 4px 30px 5px 40px;
    border-radius: 20px;
}
.contact__schedule {
    margin-left: 50px;
    margin-bottom: 60px;
    list-style-image: url('../img/dot.png');
}
.contact__schedule li {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 15px;
    color: #81b522;
}
.contact__info {
    display: grid;
    grid-template: 40px / 40px 1fr;
    align-items: center;
    grid-gap: 15px;
    margin-bottom: 15px;
}
.contact__info figure {
    width: 40px;
    height: 40px;
}
.contact__info figure img {
    max-width: 100%;
}
.contact__info--text {
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
    color: #81b522;
}
.contact__info--text a {
    color: #81b522;
}
.contact__info--text a:hover {
    color: #81b522;
}
/*
* Contact
*/

.container--carousel {
    position: relative;
}
.carouselContainer {
    width: 100%;
    height: 280px;
    position: relative;
}
.carousel {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    max-width: 1140px;
    margin: 0 auto;
}

.carousel__panel {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0%;
    /*width: 50%;*/
    width: 280px;
    height: 280px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    transition: transform 0.5s, opacity 0.3s;
}

.carousel__panel figure {
    margin: 0;
    font-size: 0;
    padding: 0;
    height: 100%;
    max-width: 100%;
    overflow: hidden;
}
.carousel__panel figure img {
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
}
.carousel--text {
    font-size: 15px;
    line-height: 25px;
    margin-top: 15px;
    font-family: sans-serif;
    opacity: 0;
    transition: opacity .3s ease .6s;
}
.carousel__panel.carousel__panel--inView.carousel__panel--center .carousel--text {
    opacity: 1;
}
.carousel__panel.carousel__panel--inView.carousel__panel--left .carousel--text,
.carousel__panel.carousel__panel--inView.carousel__panel--right .carousel--text {
    transition-delay: 0s;
    opacity: 0;
}
.carousel__panel.static {
    transition: none;
}

.carousel__panel--outView {
    opacity: 0;
}

.carousel__panel--inView {
    opacity: 1;
}

.carousel__panel--inView.carousel__panel--left {
    transform: /*translate(-75%)*/ scale(1);
    left: 0%;
    opacity: 1;
}

.carousel__panel--inView.carousel__panel--right {
    transform: /*translate(75%)*/ scale(1);
    opacity: 1;
    right: 0%;
    left: auto;
}

.carousel__panel--inView.carousel__panel--center {
    z-index: 1;
    left: calc(280px + calc(calc(100% - 840px) / 2));
}

.carousel__panel--outView.carousel__panel--left {
    opacity: 0;
    left: -150%;
    transform: /*translate(-150%)*/ scale(1);
}

.carousel__panel--outView.carousel__panel--right {
    opacity: 0;
    right: 150%;
    left: auto;
    transform: /*translate(150%)*/ scale(1);
}

.carousel__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: calc(50% - 10px);
    bottom: 0;
    color: #fff;
    opacity: 1;
    z-index: 2;
    height: 20px;
    width: 20px;
    cursor: pointer;
    transition: opacity 0.3s;
}
.carousel__arrow img {
    max-height: 100%;
}
.carousel__arrow--right {
    right: 15px;
}
.carousel__arrow--left {
    left: 15px;
}
.carousel__arrow:hover {
    opacity: 0.75;
}

/*
* Carousel
*/

.modal-btn {
  text-align: center;
  padding: .6em .8em .8em;
  border: none;
  color: white;
  background: lightgray;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: inset 0 -.2em rgba(0,0,0, .2);
  outline: 0;
  transition: .2s;
  will-change: transform;
}
.modal-btn.primary {
  background: #7dc800;
}
.modal-btn.warning {
  background: #ff463b;
}

.modal-btn:active {
  transform: scale(.9);
}
.modal-buttons {
  position: absolute;
  right: -.75px;
  top: -.75px;
  transform: rotate(45deg);
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fec900;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}
.modal-buttons:hover { 
  background: #23225b;
}
.modal-buttons i {
  transition: all 0.3s ease;
  transform: rotate(-45deg);
  color: #23225b;
}
.modal-buttons:hover i {
  color: #fec900;
}
.overlay {
  background: rgba(32,32,32,.95);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /*transition: 300s ease-in;*/
  opacity: 1;
  /*visibility: hidden;*/
  display: none;
  z-index: 100;
  transition: all 0.8s ease;
}
.overlay.active {
  /*opacity: 1;*/
  /*visibility: visible;*/
  display: flex;
}
.overlay.fadeIn--overlay {
  opacity: 0;
}
.modal__overflow {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.modal {
  left: 0;
  right: 0;
  top: 70px;
  max-width: 768px;
  width: 90%;
  background: #fff;
  padding: 2em;
  border-radius: 17.5px;
  text-align: center;
  z-index: 9999;
  transform: translateY(-3000px);
  position: fixed;
  max-height: 80%;
  margin: auto;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,.3);
}
#modal-content {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.modal-content {
  display: flex;
}

.modal-content img {
  width: 170px;
  height: 256px;
  object-fit: cover;
  margin-right: 15px;
}
.modal-content p {
  align-self: center;
}
/*@keyframes animationIn {*/
@keyframes modalIn {
  0% {
    transform: translateY(-3000px);
  }
  60% {
    transform: translateY(25px);
  }
  75% {
    transform: translateY(-10px);
  }
  90% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}

/*@keyframes animationOut {*/
@keyframes modalOut {
  0% {
    transform: translateY(5px);
  }
  60% {
    transform: translateY(-10px);
  }
  75% {
    transform: translateY(25px);
  }
  100% {
    transform: translateY(-3000px);
  }
}


.modal--hidden {
  display: none;
}
.modal--visible {
  display: block;
}
.modal__service {
  position: relative;
}
.modal__img__service {
  max-width: 100%;
}
.modal__name__service {
  background: #23225b;
  color: #fff;
  font-size: 22px;
  padding: 10px 0;
}
.modal__text__service {
  text-align: left;
}

/*
* Modal
*/

@media screen and (max-width: 1200px) {
    header .header__container {
        grid-template: 115px / 150px 1fr 225px;
    }
    .btn__small {
        font-size: 16px;
        line-height: 16px;
    }
    .btn {
        font-size: 22px;
        line-height: 23px;
    }
    .banner__p {
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 20px;
    }
    .section__title {
        font-size: 42px;
        line-height: 42px;
        margin-bottom: 50px;
    }
    .grid__service--title {
        font-size: 16px;
        line-height: 20px;
    }
    .carousel {
        max-width: 960px;
    }
}

@media screen and (max-width: 960px) {
    .form__send button {
        font-size: 18px;
        line-height: 21px;
    }
    .carousel {
        max-width: 768px;
    }
    .carousel__panel {
        width: 229px;
        height: 229px;
    }
    .carousel__panel--inView.carousel__panel--center {
        left: calc(229px + calc(calc(100% - 687px) / 2));
    }
    .form__send button {
        font-size: 18px;
        line-height: 21px;
    }
    .form__send button span {
        line-height: 14px;
    }
    .form__send button img {
        margin-left: 15px;
        width: 22px;
    }
    .contact__schedule {
        margin-bottom: 40px;
    }
    .grid__about {
        grid-template: 1fr / 1fr 400px;
        grid-gap: 50px;
    }
    .contact__schedule li {
        margin-bottom: 10px;   
    }
    .contact__schedule li, 
    .contact__info--text {
        font-size: 18px;
        line-height: 18px; 
    }
}

@media screen and (max-width: 768px) {
  .modal {
    width: 90%;
    max-height: 80%;
  } 
}

@media screen and (max-width: 575px) {

}